@charset "utf-8";
.row .col-4 p {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
	/* color: #1C2263; */
}

body p {
    text-align: center;
}
.btn.btn-outline-info {
    /* margin-left: 45%; */
    color: #1C2263;
}
.btn.btn-outline-primary {
    /* margin-left: 45%; */
    position: absolute;
    left: 50%; /* 水平中心 */
    transform: translate(-50%, -50%); /* 修正偏移，確保按鈕中心對齊 */
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* 視差背景 */
.parallax {
  background-image: url('image/your-background-image.jpg'); /* 替換成你想要的背景圖 */
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 固定 navbar 時的樣式 */
.navbar.fixed-top {
  background-color: rgba(232, 226, 214, 0.9); /* 背景色透明效果 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加陰影 */
  transition: background-color 0.3s ease;
}

/* 初始 navbar */
.navbar {
  transition: background-color 0.3s ease;
}

/* .content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #333;
} */

#home_product1{
  width: 80vw; /* 相對於視窗寬度的 30% */
  /* height: 80vh;  */
  margin-left: 10%;
  margin-top: 5%;
}


.image-container {
  display: flex; /* 使用 flexbox 進行佈局 */
  justify-content: space-between; /* 圖片之間的空隙相等 */
  margin: 0 10%; /* 左右邊距為 10% */
}

.image-container img {
  width: 30%; /* 每張圖片的寬度為容器寬度的 30% */
  height: auto; /* 高度自動調整，保持比例 */
}

/* 電腦版：螢幕寬度大於 1366px */
@media (min-width: 1366px) {


  h1 {
    font-size: 36px; /* 設定標題字體大小 */
  }

  h4 {
    font-size: 24px; /* 設定價格字體大小 */
  }

  p {
    font-size: 18px; /* 設定段落字體大小 */
  }

  .btn {
    font-size: 16px; /* 設定按鈕字體大小 */
  }
	#letter {
		font-size: 16px;
	}
	
	
}

/* 平板：螢幕寬度 768px 至 1024px */
@media ( min-width : 362px ) and (max-width : 768px ){
/*
	.row {
    flex-direction: column;  垂直排列 
  }
*/

.col-12 {
    width: 100%; /* 確保每個元素在手機螢幕上占滿整行 */
  }


  h1 {
    font-size: 28px; /* 設定標題字體大小 */
  }

  h4 {
    font-size: 20px; /* 設定價格字體大小 */
  }

  p {
    font-size: 16px; /* 設定段落字體大小 */
  }

  .btn {
    font-size: 14px; /* 設定按鈕字體大小 */
  }
	#letter {
		font-size: 14px;
	}
  .image-container {
    flex-direction: column; /* 小螢幕下改為垂直排列 */
    align-items: center;
      }
      
  .image-container img {
    width: 60%; /* 圖片寬度調整為 80% */
    margin-bottom: 10px; /* 圖片之間的空隙 */
      }
	
	
}

/* 手機：螢幕寬度小於 768px */
/* 手機：螢幕寬度小於 768px */
@media (max-width : 360px ){

  .col-12 {
    width: 100%; /* 確保每個元素在手機螢幕上占滿整行 */
  }


  h1 {
    font-size: 24px; /* 設定標題字體大小 */
  }

  h4 {
    font-size: 18px; /* 設定價格字體大小 */
  }

  p {
    font-size: 14px; /* 設定段落字體大小 */
  }

  .btn {
    font-size: 12px; /* 設定按鈕字體大小 */
  }
	#letter {
		font-size: 12px;
	}


	
}

