@charset "utf-8";

.row .col-9 .scrollspy-example {
    color: #1C2263;
}
.col-9 .scrollspy-example #list-item-1 {
    box-shadow: 0 1px;
    padding-bottom: 5px;
    color: #1C2263;
}


.col-9 .scrollspy-example #list-item-2 {
	box-shadow: 0 1px;
    padding-bottom: 5px;
}
.col-9 .scrollspy-example #list-item-3 {
	box-shadow: 0 1px;
    padding-bottom: 5px
}
.scrollspy-example .col-11 img {
    right: 21%;
    left: 50%;
    text-align: center;
}
.row .col-3 #list-example {
    margin-left: 10px;
}
